[Unit]
Description=Rotate GNOME background

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/bin/bash /opt/provision/bin/rotate_bg.sh

[Install]
WantedBy=default.target
